header.header
	.topline
		.container.topline__container
			hr.topline__hr.topline__hr_1
			hr.topline__hr.topline__hr_2
			.topline__contacts
				a(href="#").topline__contact.topline__contact_1
					.topline__contact-number  +44 20 7719 8816
					.topline__contact-description  круглосуточно
					hr.topline__contact-hr
				a(href="#").topline__contact.topline__contact_2
					.topline__contact-number +44 777 100 7676
					.topline__contact-description VIBER & WHATSUP
					hr.topline__contact-hr
			.topline__logo
				img(src="img/logo1n2.webp" alt="img/logo1n2.png").topline__logo-img
			.topline__buttons
				button.topline__button.topline__button_1 Узнать тариф
				button.topline__button.topline__button_2 Сделать заказ
	.nav-line
		.container.nav-line__container
			nav.nav-line__nav
				ul.nav-line__ul
					li.nav-line__li.nav-line__li_1
						a(href="#").nav-line__a Главная
					hr.nav-line__separator
					li.nav-line__li.nav-line__li_2
						a(href="#").nav-line__a Услуги
					hr.nav-line__separator
					li.nav-line__li.nav-line__li_3
						a(href="#").nav-line__a Автопарк
					hr.nav-line__separator
					li.nav-line__li.nav-line__li_4
						a(href="#").nav-line__a События
					hr.nav-line__separator
					li.nav-line__li.nav-line__li_5
						a(href="#").nav-line__a О нас
					hr.nav-line__separator
					li.nav-line__li.nav-line__li_6
						a(href="#").nav-line__a Контакты
	.nav-small
		.container.nav-small__container
			ul.nav-small__ul
					li.nav-small__li.nav-small__li_1
						a(href="#").nav-small__a Главная
					.nav-small__separator |
					li.nav-small__li.nav-small__li_2
						a(href="#").nav-small__a События
					.nav-small__separator |
					li.nav-small__li.nav-small__li_3
						span.nav-small__a Экскурсии
			hr.nav-small__hr