main.main
	section.section
		.container.section__container
			h1.main__h1 Pegasus luxury services
			.section__name
				hr.section__name-hr
				h2.section__h2 Экскурсии
				hr.section__name-hr
			.section__text
				p.section__p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
				p.section__p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
			.articles
				article.article
					.article__photo
					h3.article__h3 Elevate you experience
					hr.article__hr
					.article__text
						p.article__p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
						p.article__p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
					.article__flip
						a(href="#").article__more Подробнее
						.article__more-backface Подробнее
				article.article
					.article__photo
					h3.article__h3 Farnborough airshow 2018
					hr.article__hr
					.article__text
						p.article__p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
						p.article__p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
					.article__flip
						a(href="#").article__more Подробнее
						.article__more-backface Подробнее
				article.article
					.article__photo
					h3.article__h3 Regatta in England
					hr.article__hr
					.article__text
						p.article__p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
						p.article__p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
					.article__flip
						a(href="#").article__more Подробнее
						.article__more-backface Подробнее
				article.article
					.article__photo
					h3.article__h3 Silverstone
					hr.article__hr
					.article__text
						p.article__p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
						p.article__p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
					.article__flip
						a(href="#").article__more Подробнее
						.article__more-backface Подробнее
				article.article
					.article__photo
					h3.article__h3 Wimbledon
					hr.article__hr
					.article__text
						p.article__p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
						p.article__p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
					.article__flip
						a(href="#").article__more Подробнее
						.article__more-backface Подробнее
				article.article
					.article__photo
					h3.article__h3 Lorem ipsum
					hr.article__hr
					.article__text
						p.article__p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
						p.article__p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
					.article__flip
						a(href="#").article__more Подробнее
						.article__more-backface Подробнее

